.ph-speccer.speccer.typography
  background-color var(--ph-speccer-typography-background-color)
  color var(--ph-speccer-typography-color-text)
  font-size 10px
  padding 8px
  max-width 320px
  width auto
  display block
  text-align left
  line-height 140%
  border var(--ph-speccer-line-width) solid var(--ph-speccer-pin-color)

  &:hover
    border var(--ph-speccer-line-width) solid var(--ph-speccer-pin-color)

  &:after
    content ""
    position absolute
    display block
    background-color var(--ph-speccer-pin-color)
    left 100%
    top 50%
    transform translateY(-50%)
    height var(--ph-speccer-line-width)
    width var(--ph-speccer-pin-space)

  &.left
    &:after
      left 100%
      top 50%
      transform translateY(-50%)
      height var(--ph-speccer-line-width)
      width var(--ph-speccer-pin-space)
  &.right
    &:after
      left auto
      right 100%
      top 50%
      transform translateY(-50%)
      height var(--ph-speccer-line-width)
      width var(--ph-speccer-pin-space)
  &.top
    &:after
      left 50%
      right auto
      top 100%
      transform translateX(-50%)
      height var(--ph-speccer-pin-space)
      width var(--ph-speccer-line-width)
  &.bottom
    &:after
      left 50%
      right auto
      top auto
      bottom 100%
      transform translateX(-50%)
      height var(--ph-speccer-pin-space)
      width var(--ph-speccer-line-width)

  & .speccer-styles
    list-style none
    width 100%
    padding 0
    margin 0
    line-height 140%
    padding-left 8px
    font-size 10px

    & .property
      font-weight normal
      color var(--ph-speccer-typography-color-property)
      text-align left
      padding 0
      font-size 10px
      margin 0

    & > li
      font-weight normal
      color var(--ph-speccer-typography-color-value)
      text-align left
      padding 0
      font-size 10px
      margin 0
      list-style none
      border none


.ph-speccer.speccer.typography
  &.syntax
    & > pre
      margin 0

.ph-speccer.speccer.typography.syntax
  --ph-speccer-color-code-color-1 #737373
  --ph-speccer-color-code-color-2 #ff3aa8
  --ph-speccer-color-code-color-3 #38383d
  --ph-speccer-color-code-color-4 #ff3aa8
  --ph-speccer-color-code-color-5 #ff3aa8
  --ph-speccer-color-code-color-6 #0074e8
  --ph-speccer-color-code-color-7 #000000
  --ph-speccer-color-code-color-8 #CD0404

.ph-speccer.speccer.typography.syntax
  & .namespace
    opacity: 0.7;

.ph-speccer.speccer.typography.syntax
  & .token.comment,
  & .token.prolog,
  & .token.doctype,
  & .token.cdata
    color: var(--ph-speccer-color-code-color-1);

.ph-speccer.speccer.typography.syntax
  & .token.null,
  & .token.operator,
  & .token.boolean,
  & .token.number
    color: var(--ph-speccer-color-code-color-5);

.ph-speccer.speccer.typography.syntax
  & .token.attr-name
    color: var(--ph-speccer-color-code-color-2);

.ph-speccer.speccer.typography.syntax
  & .token.entity,
  & .token.url,
  & .token.string
    color: var(--ph-speccer-color-code-color-3);

.ph-speccer.speccer.typography.syntax
  & .token.selector
    color: var(--ph-speccer-color-code-color-3);

.ph-speccer.speccer.typography.syntax
  & .token.atrule,
  & .token.attr-value,
  & .token.keyword,
  & .token.control,
  & .token.directive,
  & .token.important,
  & .token.unit
    color: var(--ph-speccer-color-code-color-4);

.ph-speccer.speccer.typography.syntax
  & .token.regex,
  & .token.statement
    color: var(--ph-speccer-color-code-color-3);

.ph-speccer.speccer.typography.syntax
  & .token.placeholder,
  & .token.variable
    color: var(--ph-speccer-color-code-color-6);

.ph-speccer.speccer.typography.syntax
  & .token.property,
  & .token.tag
    color: var(--ph-speccer-color-code-color-6)

.ph-speccer.speccer.typography.syntax
  & .token.important,
  & .token.statement
    font-weight: bold;

.ph-speccer.speccer.typography.syntax
  & .token.punctuation
    color: var(--ph-speccer-color-code-color-7);

.ph-speccer.speccer.typography.syntax
  & .token.entity
    cursor: help;

.ph-speccer.speccer.typography.syntax
  & .token.debug
    color: var(--ph-speccer-color-code-color-8);

