.ph-speccer.speccer.dissection.outline.subtle
  border var(--ph-speccer-line-width) solid var(--ph-speccer-pin-color)
  background-color var(--ph-speccer-color-text-light)
  color var(--ph-speccer-pin-color)

.ph-speccer.speccer.dissection.outline.subtle
  &.top,
  &.bottom
    &::after
      width 0
      background-color transparent
      border-right var(--ph-speccer-line-width) dashed var(--ph-speccer-pin-color)

.ph-speccer.speccer.dissection.outline.subtle
  &.right,
  &.left
    &::after
      height 0
      background-color transparent
      border-top var(--ph-speccer-line-width) dashed var(--ph-speccer-pin-color)

.ph-speccer.speccer.dissection.outline.enclose.subtle
  background-color transparent

.ph-speccer.speccer.dissection.outline.full.subtle:not(.curly)
  border var(--ph-speccer-line-width) dashed var(--ph-speccer-pin-color)
  background-color transparent
  border-bottom none

.ph-speccer.speccer.dissection.outline.full.subtle:not(.curly)
  &.top
    border var(--ph-speccer-line-width) dashed var(--ph-speccer-pin-color)
    border-bottom none

.ph-speccer.speccer.dissection.outline.full.subtle:not(.curly)
  &.bottom
    border var(--ph-speccer-line-width) dashed var(--ph-speccer-pin-color)
    border-top none

.ph-speccer.speccer.dissection.outline.full.subtle:not(.curly)
  &.right
    border var(--ph-speccer-line-width) dashed var(--ph-speccer-pin-color)
    border-left none

.ph-speccer.speccer.dissection.outline.full.subtle:not(.curly)
  &.left
    border var(--ph-speccer-line-width) dashed var(--ph-speccer-pin-color)
    border-right none

.ph-speccer.speccer.dissection.outline.full.subtle:not(.curly)
  &::after
    height var(--ph-speccer-pin-size)
    width var(--ph-speccer-pin-size)
    border var(--ph-speccer-line-width) solid var(--ph-speccer-pin-color)
    background-color var(--ph-speccer-color-text-light)
    color var(--ph-speccer-pin-color)

.ph-speccer.speccer.dissection.outline.full.subtle:not(.curly)
  &.top,
  &.bottom
    &::before
      width 0
      background-color transparent
      border-right var(--ph-speccer-line-width) dashed var(--ph-speccer-pin-color)

.ph-speccer.speccer.dissection.outline.full.subtle:not(.curly)
  &.right,
  &.left
    &::before
      height 0
      background-color transparent
      border-top var(--ph-speccer-line-width) dashed var(--ph-speccer-pin-color)

.ph-speccer.speccer.dissection.outline.enclose.subtle
  border-style dashed

.ph-speccer.speccer.dissection.outline.enclose.subtle
  &::after
    height var(--ph-speccer-pin-size)
    width var(--ph-speccer-pin-size)
    border var(--ph-speccer-line-width) solid var(--ph-speccer-pin-color)
    background-color var(--ph-speccer-color-text-light)
    color var(--ph-speccer-pin-color)

.ph-speccer.speccer.dissection.outline.enclose.subtle
  &.top,
  &.bottom
    &::before
      width 0
      background-color transparent
      border-right var(--ph-speccer-line-width) dashed var(--ph-speccer-pin-color)

.ph-speccer.speccer.dissection.outline.enclose.subtle
  &.right,
  &.left
    &::before
      height 0
      background-color transparent
      border-top var(--ph-speccer-line-width) dashed var(--ph-speccer-pin-color)
