{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 5% in NO",
            "> 5% in DK",
            "> 5% in SE",
            "> 5% in FI",
            "last 2 firefox versions",
            "last 2 edge versions"
          ]
        },
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": "3.9.0"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/transform-regenerator",
    "@babel/transform-async-to-generator"
  ]
}
