.ph.speccer,
.ph.speccer::after,
.ph.speccer::before {
  font-family: "Menlo for Powerline", "Menlo Regular for Powerline", "DejaVu Sans Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  position: absolute;
  display: flex;
  font-size: 12px;
  box-sizing: border-box;
  transition: all 0.2s ease-in;
  line-height: 12px;
}
.ph.speccer.dissection {
  font-family: sans-serif;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  position: absolute;
  border-radius: 100%;
  background-color: #d4397a;
  color: #fff;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  line-height: 150%;
  font-size: 16px;
  z-index: 100000;
  box-sizing: content-box;
}
.ph.speccer.dissection:after {
  content: "";
  position: absolute;
  height: 48px;
  top: 100%;
  width: 1px;
  background-color: #d4397a;
  z-index: 99999;
}
.ph.speccer.dissection.outline:after,
.ph.speccer.dissection.outline.top:after {
  height: 48px;
  width: 1px;
  top: 100%;
  right: 50%;
}
.ph.speccer.dissection.outline.left:after {
  height: 1px;
  width: 48px;
  top: 50%;
  left: 100%;
}
.ph.speccer.dissection.outline.right:after {
  height: 1px;
  width: 48px;
  top: 50%;
  right: 100%;
}
.ph.speccer.dissection.outline.bottom:after {
  height: 48px;
  width: 1px;
  top: calc(-100% - 24px);
  right: 50%;
}
.ph.speccer.dissection.button-center:after {
  content: "";
  position: absolute;
  height: 48px;
  top: 100%;
  width: 1px;
  background-color: #d4397a;
  z-index: 99999;
}
.ph.speccer.dissection.button-outline:after {
  content: "";
  position: absolute;
  width: 48px;
  top: 50%;
  right: 100%;
  height: 1px;
  background-color: #d4397a;
  z-index: 99999;
}
.ph.speccer.dissection.button-icon:after {
  content: "";
  position: absolute;
  width: 48px;
  left: 100%;
  top: 50%;
  height: 1px;
  background-color: #d4397a;
  z-index: 99999;
}
.ph.speccer.dissection.button-icon:before {
  content: "";
  position: absolute;
  height: 1.5rem;
  left: calc(100% + 48px);
  width: 1.5rem;
  border: 1px solid #d4397a;
  z-index: 99999;
}
.ph.speccer.dissection:after {
  content: "";
  position: absolute;
  height: 48px;
  top: 100%;
  width: 1px;
  background-color: #d4397a;
  z-index: 99999;
}
.ph.speccer.dissection.outline.left:after {
  height: 1px;
  width: 48px;
  top: 50%;
  left: 100%;
}
.ph.speccer.dissection.outline.right:after {
  height: 1px;
  width: 48px;
  top: 50%;
  right: 100%;
}
.ph.speccer.dissection.outline.enclose {
  border-radius: 0;
  background-color: transparent;
  color: #f00;
  border: 1px solid #d4397a;
}
.ph.speccer.dissection.outline.enclose.right:after {
  left: calc(100% + 49px);
  right: auto;
}
.ph.speccer.dissection.outline.enclose.right:before {
  left: 100%;
  right: auto;
}
.ph.speccer.dissection.outline.enclose.left:after {
  left: calc(-1px - 48px);
  right: auto;
}
.ph.speccer.dissection.outline.enclose.left:before {
  right: 100%;
  left: auto;
}
.ph.speccer.dissection.outline.enclose.top:after {
  top: calc(-1px - 48px);
  bottom: auto;
}
.ph.speccer.dissection.outline.enclose.top:before {
  bottom: 100%;
  top: auto;
}
.ph.speccer.dissection.outline.enclose.bottom:after {
  top: calc(100% + 49px);
  bottom: auto;
}
.ph.speccer.dissection.outline.enclose.bottom:before {
  top: 100%;
  bottom: auto;
}
.ph.speccer.dissection.outline.full {
  border-radius: 0;
  background-color: transparent;
  color: #f00;
  border: 1px solid #d4397a;
}
.ph.speccer.dissection.outline.full.right {
  border-left: none;
}
.ph.speccer.dissection.outline.full.right:after {
  left: calc(8px + 48px);
}
.ph.speccer.dissection.outline.full.right:before {
  left: 100%;
}
.ph.speccer.dissection.outline.full.left {
  border-right: none;
}
.ph.speccer.dissection.outline.full.left:after {
  left: calc(-8px - 48px);
}
.ph.speccer.dissection.outline.full.left:before {
  right: 100%;
}
.ph.speccer.dissection.outline.full.top {
  border-bottom: none;
}
.ph.speccer.dissection.outline.full.top:after {
  top: calc(-8px - 48px);
}
.ph.speccer.dissection.outline.full.top:before {
  bottom: 100%;
}
.ph.speccer.dissection.outline.full.bottom {
  border-top: none;
}
.ph.speccer.dissection.outline.full.bottom:after {
  top: calc(8px + 48px);
}
.ph.speccer.dissection.outline.full.bottom:before {
  top: 100%;
}
.ph.speccer.dissection.outline.bottom:after {
  height: 48px;
  width: 1px;
  top: calc(-100% - 24px);
  right: 50%;
}
.ph.speccer.dissection.button-center:after {
  content: "";
  position: absolute;
  height: 48px;
  top: 100%;
  width: 1px;
  background-color: #d4397a;
  z-index: 99999;
}
.ph.speccer.dissection.button-outline:after {
  right: 100%;
}
.ph.speccer.dissection.button-icon:after {
  left: 100%;
}
.ph.speccer.dissection.button-icon:before {
  content: "";
  position: absolute;
  height: 1.5rem;
  left: calc(100% + 48px);
  width: 1.5rem;
  border: 1px solid #d4397a;
  z-index: 99999;
}
.ph.speccer.dissection.outline.top:after,
.ph.speccer.dissection.outline:after {
  height: 48px;
  width: 1px;
  top: 100%;
  right: 50%;
}
[data-anatomy-section] {
  counter-reset: type;
}
.ph.speccer.dissection.outline.full.right,
.ph.speccer.dissection.outline.full.left {
  width: 8px;
}
.ph.speccer.dissection.outline.full.top,
.ph.speccer.dissection.outline.full.bottom {
  height: 8px;
}
.ph.speccer.dissection.outline.full.right:after,
.ph.speccer.dissection.outline.full.left:after,
.ph.speccer.dissection.outline.full.top:after,
.ph.speccer.dissection.outline.full.bottom:after {
  content: attr(data-dissection-counter);
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  position: absolute;
  border-radius: 100%;
  background-color: #d4397a;
  color: #fff;
  align-items: center;
  justify-content: center;
  line-height: 150%;
  font-size: 16px;
  z-index: 100000;
}
.ph.speccer.dissection.outline.full.right:after,
.ph.speccer.dissection.outline.full.left:after {
  top: 50%;
  transform: translateY(-50%);
}
.ph.speccer.dissection.outline.full.top:after,
.ph.speccer.dissection.outline.full.bottom:after {
  left: 50%;
  transform: translateX(-50%);
}
.ph.speccer.dissection.outline.full.right:before,
.ph.speccer.dissection.outline.full.left:before,
.ph.speccer.dissection.outline.full.top:before,
.ph.speccer.dissection.outline.full.bottom:before {
  content: "";
  position: absolute;
  background-color: #d4397a;
  z-index: 100000;
  display: block;
}
.ph.speccer.dissection.outline.full.right:before,
.ph.speccer.dissection.outline.full.left:before {
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 49px;
}
.ph.speccer.dissection.outline.full.top:before,
.ph.speccer.dissection.outline.full.bottom:before {
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 49px;
}
.ph.speccer.dissection.outline.enclose.right,
.ph.speccer.dissection.outline.enclose.left {
  width: 8px;
}
.ph.speccer.dissection.outline.enclose.top,
.ph.speccer.dissection.outline.enclose.bottom {
  height: 8px;
}
.ph.speccer.dissection.outline.enclose.right:after,
.ph.speccer.dissection.outline.enclose.left:after,
.ph.speccer.dissection.outline.enclose.top:after,
.ph.speccer.dissection.outline.enclose.bottom:after {
  content: attr(data-dissection-counter);
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  position: absolute;
  border-radius: 100%;
  background-color: #d4397a;
  color: #fff;
  align-items: center;
  justify-content: center;
  line-height: 150%;
  font-size: 16px;
  z-index: 100000;
}
.ph.speccer.dissection.outline.enclose.right:after,
.ph.speccer.dissection.outline.enclose.left:after {
  top: 50%;
  transform: translateY(-50%);
}
.ph.speccer.dissection.outline.enclose.top:after,
.ph.speccer.dissection.outline.enclose.bottom:after {
  left: 50%;
  transform: translateX(-50%);
}
.ph.speccer.dissection.outline.enclose.right:before,
.ph.speccer.dissection.outline.enclose.left:before,
.ph.speccer.dissection.outline.enclose.top:before,
.ph.speccer.dissection.outline.enclose.bottom:before {
  content: "";
  position: absolute;
  background-color: #d4397a;
  z-index: 100000;
  display: block;
}
.ph.speccer.dissection.outline.enclose.right:before,
.ph.speccer.dissection.outline.enclose.left:before {
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 49px;
}
.ph.speccer.dissection.outline.enclose.top:before,
.ph.speccer.dissection.outline.enclose.bottom:before {
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 49px;
}
.ph.speccer.dissection.button-icon:after,
.ph.speccer.dissection.button-outline:after {
  content: "";
  position: absolute;
  width: 48px;
  top: 50%;
  height: 1px;
  background-color: #d4397a;
  z-index: 99999;
}
.ph.speccer.spacing:hover {
  border: 1px solid #333;
}
.ph.speccer.spacing.is-specced:hover ~ .speccer.margin {
  background-color: #fff76f;
}
.ph.speccer.spacing.is-specced:hover ~ .speccer.padding {
  background-color: #db6fff;
  color: #fff;
}
.ph.speccer.spacing.margin {
  background-color: rgba(255,247,111,0.4);
  color: #333;
}
.ph.speccer.spacing.padding {
  background-color: rgba(219,111,255,0.4);
  color: #ff3aa8;
}
.ph.speccer.spacing.margin.bottom:after,
.ph.speccer.spacing.margin.top:after {
  content: "";
  position: absolute;
  height: 100%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  width: 9px;
  left: 40%;
}
.ph.speccer.spacing.margin.bottom:before,
.ph.speccer.spacing.margin.top:before {
  content: "";
  position: absolute;
  height: 100%;
  border-left: 1px solid #333;
  margin-left: 4px;
  width: 0;
  left: 40%;
}
.ph.speccer.spacing.margin.left:after,
.ph.speccer.spacing.margin.right:after {
  content: "";
  position: absolute;
  height: 9px;
  border-right: 1px solid #ff3aa8;
  border-left: 1px solid #ff3aa8;
  width: 100%;
  top: 10%;
}
.ph.speccer.spacing.margin.left:before,
.ph.speccer.spacing.margin.right:before {
  content: "";
  position: absolute;
  height: 0;
  border-top: 1px solid #ff3aa8;
  margin-top: 4px;
  width: 100%;
  top: 10%;
}
.ph.speccer.spacing.padding.bottom:after,
.ph.speccer.spacing.padding.top:after {
  content: "";
  position: absolute;
  height: 100%;
  border-top: 1px solid #ff3aa8;
  border-bottom: 1px solid #ff3aa8;
  width: 9px;
  left: 40%;
}
.ph.speccer.spacing.padding.bottom:before,
.ph.speccer.spacing.padding.top:before {
  content: "";
  position: absolute;
  height: 100%;
  border-left: 1px solid #ff3aa8;
  margin-left: 4px;
  width: 0;
  left: 40%;
}
.ph.speccer.spacing.padding.left:after,
.ph.speccer.spacing.padding.right:after {
  content: "";
  position: absolute;
  height: 9px;
  border-right: 1px solid #ff3aa8;
  border-left: 1px solid #ff3aa8;
  width: 100%;
  top: 10%;
}
.ph.speccer.spacing.padding.left:before,
.ph.speccer.spacing.padding.right:before {
  content: "";
  position: absolute;
  height: 0;
  border-top: 1px solid #ff3aa8;
  margin-top: 4px;
  width: 100%;
  top: 10%;
}
.ph.speccer.typography {
  background-color: #fff;
  color: #57575b;
  font-size: 12px;
  padding: 8px 24px;
  max-width: none;
  width: auto;
  display: block;
  text-align: left;
  line-height: 140%;
  border: 1px solid #e227b3;
  min-width: 320px;
}
.ph.speccer.typography:hover {
  border: 1px solid #e227b3;
}
.ph.speccer.typography:after {
  content: "";
  position: absolute;
  display: block;
  background-color: #e227b3;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 48px;
}
.ph.speccer.typography.left:after {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 48px;
}
.ph.speccer.typography.right:after {
  left: auto;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 48px;
}
.ph.speccer.typography.top:after {
  left: 50%;
  right: auto;
  top: 100%;
  transform: translateX(-50%);
  height: 48px;
  width: 1px;
}
.ph.speccer.typography.bottom:after {
  left: 50%;
  right: auto;
  top: auto;
  bottom: 100%;
  transform: translateX(-50%);
  height: 48px;
  width: 1px;
}
.ph.speccer.typography .speccer-styles {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 140%;
  padding-left: 1rem;
  font-size: 12px;
}
.ph.speccer.typography .speccer-styles .property {
  font-weight: normal;
  color: #3f85f2;
  text-align: left;
  padding: 0;
  font-size: 12px;
  margin: 0;
}
.ph.speccer.typography .speccer-styles > li {
  font-weight: normal;
  color: #e227b3;
  text-align: left;
  padding: 0;
  font-size: 12px;
  margin: 0;
  list-style: none;
  border: none;
}
.ph.speccer.measure.width {
  color: #f00;
  border: 1px solid #f00;
  border-bottom: none;
  height: 8px;
}
.ph.speccer.measure.width::after {
  content: attr(data-measure);
  position: absolute;
  top: calc(-100% - 10px);
}
.ph.speccer.measure.width.bottom {
  color: #f00;
  border: 1px solid #f00;
  border-top: none;
}
.ph.speccer.measure.width.bottom::after {
  content: attr(data-measure);
  position: absolute;
  top: calc(100% + 5px);
}
.ph.speccer.measure.width.top {
  color: #f00;
  border: 1px solid #f00;
  border-bottom: none;
}
.ph.speccer.measure.width.top::after {
  content: attr(data-measure);
  position: absolute;
  bottom: calc(100% + 5px);
}
.ph.speccer.measure.height {
  color: #f00;
  border: 1px solid #f00;
  border-right: none;
  width: 8px;
}
.ph.speccer.measure.height::after {
  content: attr(data-measure);
  position: absolute;
  top: 50%;
  left: calc(-100% - 25px);
  transform: translateY(-50%) rotate(-90deg);
}
.ph.speccer.measure.height.right {
  color: #f00;
  border: 1px solid #f00;
  border-left: none;
}
.ph.speccer.measure.height.right::after {
  content: attr(data-measure);
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%) rotate(90deg);
}
