.ph-speccer.speccer.pin.bracket:not(.curly)
  border-radius 0
  background-color transparent
  color var(--ph-speccer-measure-color)
  border var(--ph-speccer-line-width) solid var(--ph-speccer-pin-color)
  border-bottom none

.ph-speccer.speccer.pin.bracket:not(.curly)
  &::after
    top calc(-8px - var(--ph-speccer-pin-space))

.ph-speccer.speccer.pin.bracket:not(.curly)
  &::before
    bottom 100%

.ph-speccer.speccer.pin.bracket:not(.curly)
  &.right
    border var(--ph-speccer-line-width) solid var(--ph-speccer-pin-color)
    border-left none

.ph-speccer.speccer.pin.bracket:not(.curly)
  &.right
    &::after
      left calc(8px + var(--ph-speccer-pin-space))

.ph-speccer.speccer.pin.bracket:not(.curly)
  &.right
    &::before
      left 100%
      right auto

.ph-speccer.speccer.pin.bracket:not(.curly)
  &.left
    border var(--ph-speccer-line-width) solid var(--ph-speccer-pin-color)
    border-right none

.ph-speccer.speccer.pin.bracket:not(.curly)
  &.left
    &::after
      left calc(-8px - var(--ph-speccer-pin-space))

.ph-speccer.speccer.pin.bracket:not(.curly)
  &.left
    &::before
      right 100%
      left auto

.ph-speccer.speccer.pin.bracket:not(.curly)
  &.top
    border var(--ph-speccer-line-width) solid var(--ph-speccer-pin-color)
    border-bottom none

.ph-speccer.speccer.pin.bracket:not(.curly)
  &.top
    &::after
      top calc(-8px - var(--ph-speccer-pin-space))

.ph-speccer.speccer.pin.bracket:not(.curly)
  &.top
    &::before
      bottom 100%

.ph-speccer.speccer.pin.bracket:not(.curly)
  &.bottom
    border var(--ph-speccer-line-width) solid var(--ph-speccer-pin-color)
    border-top none

.ph-speccer.speccer.pin.bracket:not(.curly)
  &.bottom
    &::after
      top calc(8px + var(--ph-speccer-pin-space))

.ph-speccer.speccer.pin.bracket:not(.curly)
  &.bottom
    &::before
      top 100%

.ph-speccer.speccer.pin.bracket
  &.right,
  &.left
    &:not(.curly)
      width 8px

.ph-speccer.speccer.pin.bracket,
.ph-speccer.speccer.pin.bracket.top,
.ph-speccer.speccer.pin.bracket.bottom
  &:not(.curly)
    height 8px

.ph-speccer.speccer.pin.bracket,
.ph-speccer.speccer.pin.bracket.right,
.ph-speccer.speccer.pin.bracket.left,
.ph-speccer.speccer.pin.bracket.top,
.ph-speccer.speccer.pin.bracket.bottom
  &:not(.curly)
    &::after
      content attr(data-pin-counter)
      height var(--ph-speccer-pin-size)
      width var(--ph-speccer-pin-size)
      display flex
      position absolute
      border-radius 100%
      background-color var(--ph-speccer-pin-color)
      color var(--ph-speccer-color-text-light)
      align-items center
      justify-content center
      line-height 150%
      font-size 16px
      z-index 100000

.ph-speccer.speccer.pin.bracket
  &.right,
  &.left
    &:not(.curly)
      &::after
        top 50%
        transform translateY(-50%)

.ph-speccer.speccer.pin.bracket,
.ph-speccer.speccer.pin.bracket.top,
.ph-speccer.speccer.pin.bracket.bottom
  &:not(.curly)
    &::after
      left 50%
      transform translateX(-50%)

.ph-speccer.speccer.pin.bracket,
.ph-speccer.speccer.pin.bracket.right,
.ph-speccer.speccer.pin.bracket.left,
.ph-speccer.speccer.pin.bracket.top,
.ph-speccer.speccer.pin.bracket.bottom
  &:not(.curly)
    &::before
      content ""
      position absolute
      background-color var(--ph-speccer-pin-color)
      z-index 100000
      display block

.ph-speccer.speccer.pin.bracket
  &.right,
  &.left
    &:not(.curly)
      &::before
        top 50%
        transform translateY(-50%)
        height var(--ph-speccer-line-width)
        width calc(var(--ph-speccer-pin-space) + var(--ph-speccer-line-width))

.ph-speccer.speccer.pin.bracket,
.ph-speccer.speccer.pin.bracket.top,
.ph-speccer.speccer.pin.bracket.bottom
  &:not(.curly)
    &::before
      left 50%
      transform translateX(-50%)
      width var(--ph-speccer-line-width)
      height calc(var(--ph-speccer-pin-space) + var(--ph-speccer-line-width))
