.ph-speccer.speccer.pin
  font-family sans-serif
  height var(--ph-speccer-pin-size)
  width var(--ph-speccer-pin-size)
  display flex
  position absolute
  border-radius 100%
  background-color var(--ph-speccer-pin-color)
  color var(--ph-speccer-color-text-light)
  font-weight 400
  align-items center
  justify-content center
  line-height 150%
  font-size 16px
  z-index 100000

.ph-speccer.speccer.pin
  &::after
    content ""
    position absolute
    height var(--ph-speccer-pin-space)
    top 100%
    width var(--ph-speccer-line-width)
    background-color var(--ph-speccer-pin-color)
    z-index 99999

.ph-speccer.speccer.pin.svg,
.ph-speccer.speccer.pin.text,
.ph-speccer.speccer.pin.curly
  &::after
    content none !important

.ph-speccer.speccer.pin,
.ph-speccer.speccer.pin.top
  &::after
    height var(--ph-speccer-pin-space)
    width var(--ph-speccer-line-width)
    top 100%
    right 50%

.ph-speccer.speccer.pin
  &.left
    &::after
      height var(--ph-speccer-line-width)
      width var(--ph-speccer-pin-space)
      top 50%
      left 100%
      right auto

.ph-speccer.speccer.pin
  &.right
    &::after
      height var(--ph-speccer-line-width)
      width var(--ph-speccer-pin-space)
      top 50%
      left auto
      right 100%

.ph-speccer.speccer.pin
  &.bottom
    &::after
      height var(--ph-speccer-pin-space)
      width var(--ph-speccer-line-width)
      top calc(-100% - (var(--ph-speccer-pin-space) / 2))
      right 50%

.ph-speccer.speccer.pin
  &.left
    &::after
      height var(--ph-speccer-line-width)
      width var(--ph-speccer-pin-space)
      top 50%
      left 100%

.ph-speccer.speccer.pin
  &.right
    &::after
      height var(--ph-speccer-line-width)
      width var(--ph-speccer-pin-space)
      top 50%
      right 100%


.ph-speccer.path.speccer.text
  color var(--ph-speccer-color-text-dark)

.ph-speccer.speccer.pin.text
  font-family var(--ph-speccer-font-family)
  height auto
  min-height var(--ph-speccer-pin-size)
  display flex
  position absolute
  border-radius 0
  background-color transparent
  color var(--ph-speccer-color-text-dark)
  font-weight 400
  align-items flex-start
  justify-content center
  line-height 130%
  z-index 100000
  flex-direction column
  width 250px
  grid-gap 2px

  &.right
    padding-left 1rem

  &.left
    padding-right 1rem
    width 170px

  &.top
    padding-bottom 1rem

  &.bottom
    padding-top 1rem

.ph-speccer.speccer.pin.text
  & .ph-speccer.title
    text-transform uppercase
    font-weight 500
    font-size 11px

.ph-speccer.speccer.pin.text
  & .ph-speccer.description
    line-height 130%
    position relative
    font-weight 600
    font-size 0.875rem

.ph-speccer.speccer.pin.text
  & .ph-speccer.heading
    line-height 130%
    position relative
    font-weight 600
    font-size 0.875rem
    text-transform uppercase
    color var(--ph-speccer-base-color)
