.ph.speccer.dissection
  font-family sans-serif
  height var(--ph-speccer-pin-size)
  width var(--ph-speccer-pin-size)
  display flex
  position absolute
  border-radius 100%
  background-color var(--ph-speccer-pin-color)
  color var(--ph-speccer-color-text-light)
  font-weight 400
  align-items center
  justify-content center
  line-height 150%
  font-size 16px
  z-index 100000
  box-sizing content-box

.ph.speccer.dissection:after
  content ""
  position absolute
  height var(--ph-speccer-pin-space)
  top 100%
  width var(--ph-speccer-line-width)
  background-color var(--ph-speccer-pin-color)
  z-index 99999


.ph.speccer.dissection.outline:after,
.ph.speccer.dissection.outline.top:after
  height var(--ph-speccer-pin-space)
  width var(--ph-speccer-line-width)
  top 100%
  right 50%

.ph.speccer.dissection.outline.left:after
  height var(--ph-speccer-line-width)
  width var(--ph-speccer-pin-space)
  top 50%
  left 100%

.ph.speccer.dissection.outline.right:after
  height var(--ph-speccer-line-width)
  width var(--ph-speccer-pin-space)
  top 50%
  right 100%

.ph.speccer.dissection.outline.bottom:after
  height var(--ph-speccer-pin-space)
  width var(--ph-speccer-line-width)
  top calc(-100% - (var(--ph-speccer-pin-space) / 2))
  right 50%


.ph.speccer.dissection
  &:after
    content ""
    position absolute
    height var(--ph-speccer-pin-space)
    top 100%
    width var(--ph-speccer-line-width)
    background-color var(--ph-speccer-pin-color)
    z-index 99999
  &.outline
    &.left
      &:after
        height var(--ph-speccer-line-width)
        width var(--ph-speccer-pin-space)
        top 50%
        left 100%
    &.right
      &:after
        height var(--ph-speccer-line-width)
        width var(--ph-speccer-pin-space)
        top 50%
        right 100%
    &.enclose
      border-radius 0
      background-color transparent
      color var(--ph-speccer-measure-color)
      border var(--ph-speccer-line-width) solid var(--ph-speccer-pin-color)
      &.right
        &:after
          left calc(100% + calc(var(--ph-speccer-pin-space) + var(--ph-speccer-line-width)))
          right auto
        &:before
          left 100%
          right auto
      &.left
        &:after
          left calc(var(--ph-speccer-line-width-negative) - var(--ph-speccer-pin-size) - var(--ph-speccer-pin-space))
          right auto
        &:before
          right 100%
          left auto
      &.top
        &:after
          top calc(var(--ph-speccer-line-width-negative) - var(--ph-speccer-pin-size) - var(--ph-speccer-pin-space))
          bottom auto
        &:before
          bottom 100%
          top auto
      &.bottom
        &:after
          top calc(100% + calc(var(--ph-speccer-pin-space) + var(--ph-speccer-line-width)))
          bottom auto
        &:before
          top 100%
          bottom auto
    &.full
      border-radius 0
      background-color transparent
      color var(--ph-speccer-measure-color)
      border var(--ph-speccer-line-width) solid var(--ph-speccer-pin-color)
      &.right
        border-left none
        &:after
          left calc(8px + var(--ph-speccer-pin-space))
        &:before
          left 100%
      &.left
        border-right none
        &:after
          left calc(-8px - var(--ph-speccer-pin-space))
        &:before
          right 100%
      &.top
        border-bottom none
        &:after
          top calc(-8px - var(--ph-speccer-pin-space))
        &:before
          bottom 100%
      &.bottom
        border-top none
        &:after
          top calc(8px + var(--ph-speccer-pin-space))
        &:before
          top 100%
    &.bottom
      &:after
        height var(--ph-speccer-pin-space)
        width var(--ph-speccer-line-width)
        top calc(-100% - (var(--ph-speccer-pin-space) / 2))
        right 50%


.ph.speccer.dissection.outline.top:after,
.ph.speccer.dissection.outline:after
  height var(--ph-speccer-pin-space)
  width var(--ph-speccer-line-width)
  top 100%
  right 50%

[data-anatomy-section]
  counter-reset type

.ph.speccer.dissection.outline.full.right,
.ph.speccer.dissection.outline.full.left
  width 8px

.ph.speccer.dissection.outline.full.top,
.ph.speccer.dissection.outline.full.bottom
  height 8px

.ph.speccer.dissection.outline.full.right:after,
.ph.speccer.dissection.outline.full.left:after,
.ph.speccer.dissection.outline.full.top:after,
.ph.speccer.dissection.outline.full.bottom:after
  content attr(data-dissection-counter)
  height var(--ph-speccer-pin-size)
  width var(--ph-speccer-pin-size)
  display flex
  position absolute
  border-radius 100%
  background-color var(--ph-speccer-pin-color)
  color var(--ph-speccer-color-text-light)
  align-items center
  justify-content center
  line-height 150%
  font-size 16px
  z-index 100000

.ph.speccer.dissection.outline.full.right:after,
.ph.speccer.dissection.outline.full.left:after
  top 50%
  transform translateY(-50%)

.ph.speccer.dissection.outline.full.top:after,
.ph.speccer.dissection.outline.full.bottom:after
  left 50%
  transform translateX(-50%)

.ph.speccer.dissection.outline.full.right:before,
.ph.speccer.dissection.outline.full.left:before,
.ph.speccer.dissection.outline.full.top:before,
.ph.speccer.dissection.outline.full.bottom:before
  content ""
  position absolute
  background-color var(--ph-speccer-pin-color)
  z-index 100000
  display block

.ph.speccer.dissection.outline.full.right:before,
.ph.speccer.dissection.outline.full.left:before
  top 50%
  transform translateY(-50%)
  height var(--ph-speccer-line-width)
  width calc(var(--ph-speccer-pin-space) + var(--ph-speccer-line-width))

.ph.speccer.dissection.outline.full.top:before,
.ph.speccer.dissection.outline.full.bottom:before
  left 50%
  transform translateX(-50%)
  width var(--ph-speccer-line-width)
  height calc(var(--ph-speccer-pin-space) + var(--ph-speccer-line-width))

.ph.speccer.dissection.outline.enclose.right,
.ph.speccer.dissection.outline.enclose.left
  width 8px

.ph.speccer.dissection.outline.enclose.top,
.ph.speccer.dissection.outline.enclose.bottom
  height 8px

.ph.speccer.dissection.outline.enclose.right:after,
.ph.speccer.dissection.outline.enclose.left:after,
.ph.speccer.dissection.outline.enclose.top:after,
.ph.speccer.dissection.outline.enclose.bottom:after
  content attr(data-dissection-counter)
  height var(--ph-speccer-pin-size)
  width var(--ph-speccer-pin-size)
  display flex
  position absolute
  border-radius 100%
  background-color var(--ph-speccer-pin-color)
  color var(--ph-speccer-color-text-light)
  align-items center
  justify-content center
  line-height 150%
  font-size 16px
  z-index 100000

.ph.speccer.dissection.outline.enclose.right:after,
.ph.speccer.dissection.outline.enclose.left:after
  top 50%
  transform translateY(-50%)

.ph.speccer.dissection.outline.enclose.top:after,
.ph.speccer.dissection.outline.enclose.bottom:after
  left 50%
  transform translateX(-50%)

.ph.speccer.dissection.outline.enclose.right:before,
.ph.speccer.dissection.outline.enclose.left:before,
.ph.speccer.dissection.outline.enclose.top:before,
.ph.speccer.dissection.outline.enclose.bottom:before
  content ""
  position absolute
  background-color var(--ph-speccer-pin-color)
  z-index 100000
  display block

.ph.speccer.dissection.outline.enclose.right:before,
.ph.speccer.dissection.outline.enclose.left:before
  top 50%
  transform translateY(-50%)
  height var(--ph-speccer-line-width)
  width calc(var(--ph-speccer-pin-space) + var(--ph-speccer-line-width))

.ph.speccer.dissection.outline.enclose.top:before,
.ph.speccer.dissection.outline.enclose.bottom:before
  left 50%
  transform translateX(-50%)
  width var(--ph-speccer-line-width)
  height calc(var(--ph-speccer-pin-space) + var(--ph-speccer-line-width))
