.ph-speccer.speccer,
.ph-speccer.speccer::after,
.ph-speccer.speccer::before
  pointer-events none
  user-select none
  box-sizing border-box
  margin 0
  padding 0


.ph-speccer.speccer,
.ph-speccer.speccer::after,
.ph-speccer.speccer::before
  font-family var(--ph-speccer-font-family) !important
  justify-content center
  align-items center
  z-index 99999
  position absolute
  display flex
  font-size 12px
  line-height 12px
