.ph.speccer.typography
  background-color var(--ph-speccer-typography-background-color)
  color var(--ph-speccer-typography-color-text)
  font-size 12px
  padding 8px 24px
  max-width none
  width auto
  display block
  text-align left
  line-height 140%
  border var(--ph-speccer-line-width) solid var(--ph-speccer-pin-color)
  min-width 320px

  &:hover
    border var(--ph-speccer-line-width) solid var(--ph-speccer-pin-color)

  &:after
    content ""
    position absolute
    display block
    background-color var(--ph-speccer-pin-color)
    left 100%
    top 50%
    transform translateY(-50%)
    height var(--ph-speccer-line-width)
    width 48px

  &.left
    &:after
      left 100%
      top 50%
      transform translateY(-50%)
      height var(--ph-speccer-line-width)
      width 48px
  &.right
    &:after
      left auto
      right 100%
      top 50%
      transform translateY(-50%)
      height var(--ph-speccer-line-width)
      width 48px
  &.top
    &:after
      left 50%
      right auto
      top 100%
      transform translateX(-50%)
      height 48px
      width var(--ph-speccer-line-width)
  &.bottom
    &:after
      left 50%
      right auto
      top auto
      bottom 100%
      transform translateX(-50%)
      height 48px
      width var(--ph-speccer-line-width)

  & .speccer-styles
    list-style none
    width 100%
    padding 0
    margin 0
    line-height 140%
    padding-left 1rem
    font-size 12px

    & .property
      font-weight normal
      color var(--ph-speccer-typography-color-property)
      text-align left
      padding 0
      font-size 12px
      margin 0

    & > li
      font-weight normal
      color var(--ph-speccer-typography-color-value)
      text-align left
      padding 0
      font-size 12px
      margin 0
      list-style none
      border none
