
.ph-speccer.speccer.measure.slim
  &.subtle
    &.width.top,
    &.width.bottom,
    &.height.right,
    &.height.left
      border-style dashed

.ph-speccer.speccer.measure.slim
  &.subtle
    &.width.top
      border-bottom none

.ph-speccer.speccer.measure.slim
  &.subtle
    &.width.bottom
      border-top none

.ph-speccer.speccer.measure.slim
  &.subtle
    &.height.right
      border-left none

.ph-speccer.speccer.measure.slim
  &.subtle
    &.height.left
      border-right none
