.dissection
  height 1.5rem
  width 1.5rem
  display flex
  position absolute
  border-radius 100%
  background-color #d4397a
  color #fff
  font-weight 600
  align-items center
  justify-content center
  line-height 150%
  font-size 16px
  z-index 20
  box-sizing: content-box;
  &:after
    content ""
    position absolute
    height 48px
    top 100%
    width 1px
    background-color #d4397a
    z-index 10
  &.outline
    &.left
      &:after
        height 1px
        width 48px
        top 50%
        left 100%
    &.right
      &:after
        height 1px
        width 48px
        top 50%
        right 100%
    &.enclose
      border-radius 0
      background-color transparent
      color red
      border 1px solid #d4397a
      &.right
        &:after
          left calc(100% + 49px)
          right auto
        &:before
          left 100%
          right auto
      &.left
        &:after
          left calc(-1px - 48px)
          right auto
        &:before
          right 100%
          left auto
      &.top
        &:after
          top calc(-1px - 48px)
          bottom auto
        &:before
          bottom 100%
          top auto
      &.bottom
        &:after
          top calc(100% + 49px)
          bottom auto
        &:before
          top 100%
          bottom auto
    &.full
      border-radius 0
      background-color transparent
      color red
      border 1px solid #d4397a
      &.right
        border-left none
        &:after
          left calc(8px + 48px)
        &:before
          left 100%
      &.left
        border-right none
        &:after
          left calc(-8px - 48px)
        &:before
          right 100%
      &.top
        border-bottom none
        &:after
          top calc(-8px - 48px)
        &:before
          bottom 100%
      &.bottom
        border-top none
        &:after
          top calc(8px + 48px)
        &:before
          top 100%
    &.bottom
      &:after
        height 48px
        width 1px
        top calc(-100% - 24px)
        right 50%
  &.button-center
    &:after
      content ""
      position absolute
      height 48px
      top 100%
      width 1px
      background-color #d4397a
      z-index 10
  &.button-outline
    &:after
      right 100%
  &.button-icon
    &:after
      left 100%
    &:before
      content ""
      position absolute
      height 1.5rem
      left calc(100% + 48px)
      width 1.5rem
      border 1px solid #d4397a
      z-index 10

.dissection.outline.top:after,
.dissection.outline:after
  height 48px
  width 1px
  top 100%
  right 50%

[data-anatomy-section]
  counter-reset type

.dissection.outline.full.right,
.dissection.outline.full.left
  width 8px

.dissection.outline.full.top,
.dissection.outline.full.bottom
  height 8px

.dissection.outline.full.right:after,
.dissection.outline.full.left:after,
.dissection.outline.full.top:after,
.dissection.outline.full.bottom:after
  content attr(data-dissection-counter)
  height 1.5rem
  width 1.5rem
  display flex
  position absolute
  border-radius 100%
  background-color #d4397a
  color #fff
  font-weight 600
  align-items center
  justify-content center
  line-height 150%
  font-size 16px
  z-index 20

.dissection.outline.full.right:after,
.dissection.outline.full.left:after
  top 50%
  transform translateY(-50%)

.dissection.outline.full.top:after,
.dissection.outline.full.bottom:after
  left 50%
  transform translateX(-50%)

.dissection.outline.full.right:before,
.dissection.outline.full.left:before,
.dissection.outline.full.top:before,
.dissection.outline.full.bottom:before
  content ""
  position absolute
  background-color #d4397a
  z-index 20
  display block

.dissection.outline.full.right:before,
.dissection.outline.full.left:before
  top 50%
  transform translateY(-50%)
  height 1px
  width 49px

.dissection.outline.full.top:before,
.dissection.outline.full.bottom:before
  left 50%
  transform translateX(-50%)
  width 1px
  height 49px

.dissection.outline.enclose.right,
.dissection.outline.enclose.left
  width 8px

.dissection.outline.enclose.top,
.dissection.outline.enclose.bottom
  height 8px

.dissection.outline.enclose.right:after,
.dissection.outline.enclose.left:after,
.dissection.outline.enclose.top:after,
.dissection.outline.enclose.bottom:after
  content attr(data-dissection-counter)
  height 1.5rem
  width 1.5rem
  display flex
  position absolute
  border-radius 100%
  background-color #d4397a
  color #fff
  font-weight 600
  align-items center
  justify-content center
  line-height 150%
  font-size 16px
  z-index 20

.dissection.outline.enclose.right:after,
.dissection.outline.enclose.left:after
  top 50%
  transform translateY(-50%)

.dissection.outline.enclose.top:after,
.dissection.outline.enclose.bottom:after
  left 50%
  transform translateX(-50%)

.dissection.outline.enclose.right:before,
.dissection.outline.enclose.left:before,
.dissection.outline.enclose.top:before,
.dissection.outline.enclose.bottom:before
  content ""
  position absolute
  background-color #d4397a
  z-index 20
  display block

.dissection.outline.enclose.right:before,
.dissection.outline.enclose.left:before
  top 50%
  transform translateY(-50%)
  height 1px
  width 49px

.dissection.outline.enclose.top:before,
.dissection.outline.enclose.bottom:before
  left 50%
  transform translateX(-50%)
  width 1px
  height 49px

.dissection.button-icon:after,
.dissection.button-outline:after
  content ""
  position absolute
  width 48px
  top 50%
  height 1px
  background-color #d4397a
  z-index 10

.speccer
  font-family "Menlo for Powerline", "Menlo Regular for Powerline", "DejaVu Sans Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important
  justify-content center
  align-items center
  z-index 10
  position absolute
  display flex
  font-size 12px
  line-height 12px
  box-sizing border-box
  transition all .2s cubic-bezier(.4, 0, .2, 1)
  &:hover
    border 1px solid #333
  &.measure
    &.width
      color red
      border 1px solid red
      border-bottom none
      height 8px
      &:after
        content attr(data-measure)
        position absolute
        top calc(-100% - 10px)
      &.bottom
        color red
        border 1px solid red
        border-top none
        &:after
          content attr(data-measure)
          position absolute
          top calc(100% + 5px)
    &.height
      color red
      border 1px solid red
      border-right none
      width 8px
      &:after
        content attr(data-measure)
        position absolute
        top 50%
        left calc(-100% - 25px)
        transform translateY(-50%) rotate(-90deg)
      &.right
        color red
        border 1px solid red
        border-left none
        &:after
          content attr(data-measure)
          position absolute
          top 50%
          left 100%
          transform translateY(-50%) rotate(90deg)

.speccer-isSpecced
  &:hover
    & ~ .speccer
      &.margin
        background-color #fff76f
      &.padding
        background-color #db6fff
        color #fff

.speccer.margin,
.speccer.marginBottom,
.speccer.marginLeft,
.speccer.marginRight,
.speccer.marginTop
  background-color rgba(255, 247, 111, .4)
  color #333

.speccer.padding,
.speccer.paddingBottom,
.speccer.paddingLeft,
.speccer.paddingRight,
.speccer.paddingTop
  background-color rgba(219, 111, 255, .4)
  color #ff3aa8

.speccer.marginBottom:after,
.speccer.marginTop:after
  content ""
  position absolute
  height 100%
  border-top 1px solid #333
  border-bottom 1px solid #333
  width 9px
  left 40%

.speccer.marginBottom:before,
.speccer.marginTop:before
  content ""
  position absolute
  height 100%
  border-left 1px solid #333
  margin-left 4px
  width 0
  left 40%

.speccer.marginLeft:after,
.speccer.marginRight:after
  content ""
  position absolute
  height 9px
  border-right 1px solid #ff3aa8
  border-left 1px solid #ff3aa8
  width 100%
  top 10%

.speccer.marginLeft:before,
.speccer.marginRight:before
  content ""
  position absolute
  height 0
  border-top 1px solid #ff3aa8
  margin-top 4px
  width 100%
  top 10%

.speccer.paddingBottom:after,
.speccer.paddingTop:after
  content ""
  position absolute
  height 100%
  border-top 1px solid #ff3aa8
  border-bottom 1px solid #ff3aa8
  width 9px
  left 40%

.speccer.paddingBottom:before,
.speccer.paddingTop:before
  content ""
  position absolute
  height 100%
  border-left 1px solid #ff3aa8
  margin-left 4px
  width 0
  left 40%

.speccer.paddingLeft:after,
.speccer.paddingRight:after
  content ""
  position absolute
  height 9px
  border-right 1px solid #ff3aa8
  border-left 1px solid #ff3aa8
  width 100%
  top 10%

.speccer.paddingLeft:before,
.speccer.paddingRight:before
  content ""
  position absolute
  height 0
  border-top 1px solid #ff3aa8
  margin-top 4px
  width 100%
  top 10%
