.ph-speccer.speccer.mark
  background-color var(--ph-speccer-mark-background-color)
  border-color var(--ph-speccer-mark-border-color)
  border-width var(--ph-speccer-mark-border-width)
  border-style var(--ph-speccer-mark-border-style)
  position absolute
