.ph-speccer.speccer.a11y.headings
  position absolute
  background-color var(--ph-speccer-a11y-headings-color-background)
  color var(--ph-speccer-color-text-light)
  font-family var(--ph-speccer-font-family)
  justify-content center
  font-size 12px
  height 28px
  line-height 28px
  align-items center
  padding 0 0.5rem
  pointer-events auto

.ph-speccer.speccer.a11y.headings
  &::after
    border solid transparent
    content ""
    height 0
    width 0
    position absolute
    pointer-events none
    border-color rgba(126, 96, 197, 0)
    border-width 14.2px


.ph-speccer.speccer.a11y.headings,
.ph-speccer.speccer.a11y.headings.left
  &::after
    top 50%
    left 100%
    border-left-color var(--ph-speccer-a11y-headings-color-background)
    transform translateY(-50%)

.ph-speccer.speccer.a11y.headings.top
  &::after
    top 0%
    left 50%
    border-bottom-color var(--ph-speccer-a11y-headings-color-background)
    transform translateX(-50%)

.ph-speccer.speccer.a11y.headings.right
  &::after
    top 50%
    left 0%
    border-right-color var(--ph-speccer-a11y-headings-color-background)
    transform translateY(-50%)

.ph-speccer.speccer.a11y.headings.bottom
  &::after
    top 0%
    left 50%
    border-top-color var(--ph-speccer-a11y-headings-color-background)
    transform translateX(-50%)
